# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.idea/
/gradle/
/plugin/build/
/plugin/.gradle/
/plugin/.idea/
/plugin/gradle/
/api/build/
/plugin/src/main/java/ru/dverkask/skinanatomy/listener/PlayerSkinApplierListener.java/
/plugin/src/main/java/ru/dverkask/skinanatomy/events/PlayerJoinSkinHandler.java/